<div class="form-container-show">
  <h3>Add a movie:</h3>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :comment, placeholder: 'Personnal note', label: false %>
    <div class="select-send">
      <% option = options_from_collection_for_select(@movies, :id, :title) %>
      <%= f.select :movie, option %>
      <%= f.button :submit, value: 'Add movie' %>
    </div>
  <% end %>
</div>

<% @list.movies.each do |m| %>
  <div class="card-movie">
    <div>
      <h2><%= m.title %></h2>
      <p>Rating: <%= m.rating %></p>
      <p class="overview"><%= m.overview %></p>
      <p class="comment"><strong><%= m.bookmarks.find_by("list_id = #{@list.id}").comment %></strong></p>
    </div>
    <img src="<%= m.poster_url %>" alt="">
  </div>
<% end %>
